<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天界面</title>
    <link rel="stylesheet" href="{{static_url('css/layui.css')}}">
    <script src="{{static_url('layui.js')}}"></script>
    <script src="{{static_url('jquery.min.js')}}"></script>
</head>
<body>
<div id="contents" style="width: 500px;height: 500px;overflow: auto"></div>
<div >
    <input type="text" id="message">
    <button onclick="sendMessage()">发送</button>
</div>
</body>
<script>
    //建议websocket连接
    var ws = new WebSocket("ws://127.0.0.1:9001/chat");

    //向前端页面发送消息
    ws.onmessage = function (e) {
        console.log(e.data);
        $('#contents').append("<p>"+e.data+"</p>");
    };
    //向服务器发送消息
    function sendMessage() {
        var message=$('#message').val();
        ws.send(message);
        $('#message').val("");
        console.log("*********")
    }
</script>
</html>